@import 'core/settings';


body {
	margin: 0;
  height: 100vh;
  background-color: azure;
}
.title {
  margin-left:30px;
}
.input {
  margin-left: 30px;}
.result-list {
  list-style: none;
   display: flex;
  flex-wrap: wrap;
  margin: 20px;

}
.fav-list {
  list-style: none;
}
.li-elements {
  margin:10px;
  padding: 10px;
  background-color: lightblue;
  max-width: 250px;
}
.favorite {
  background-color: rgb(87, 131, 197);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.fav-list {
  display: flex;

}
.favseries-container {
  display: flex;

}
.fav-elements {
  background-color: rgb(87, 131, 197);
  padding: 10px;
  max-width: 200px;

}
.fav-img {
  height: 150px;


}
