@import 'core/settings';


body {;
	margin: 0;
	height: 100vh;
}

.result-list {
  list-style: none;
  background-color: lemonchiffon;
  margin:10px;
  width: 300px;
}
.favorite {
  background-color: lightgreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
